@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.text-zone {
  position: absolute;
  left: 15%;
  top: 10%;
  transform: translateY(-50%);
  width: 70%;
  max-height: 90%;

  h1 {
    font-size: calc( 28px + ( 53 - 28 ) * (( 100vw - 320px ) / ( 980 - 320 )));
    font-weight: 500;
    color: #ffff;
  } 
}

.box {
  margin-left: 40%;
  width: 335px;
  height: 250px;
  transform-style: preserve-3d;
  animation: animate 40s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes animate {
  0% {
    transform: perspective(1500px) rotateY(0deg);
  }
  100% {
    transform: perspective(1500px) rotateY(360deg);
  }
}

.box span {
  position: absolute;
  top: 58%;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 52deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2666666667));
  border: 4px solid rgb(36 156 36);
  border-radius: 5px;
  transition: all 3s;
  
    .overlay_text {
      position: absolute;
        top: 0px;
        left: 0;
        background: #000000f0;
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;
        display: none;
        transform: translateY(-200px);
        transition: .6s ease-in-out .3s;

        h3 {
          font-size: 25px;
          color: #ffff;
        }

        ul {
          color: #ffff; 
        }
        
        li:hover {
            transform: scale(1.1);
            color: rgb(36 156 36);
        }
      .link-project {
        width: 100px;
        height: 60px;
        border: 1px solid #ffff;
        color: #ffff;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
          border: 1px solid rgb(36 156 36);
          color: rgb(36 156 36);
          transform: scale(1.2);
        }
      }
    }


    &:hover {
      display: inline-block;
      animation-fill-mode: forwards;
      cursor: pointer;
      border: 4px solid rgba(80, 212, 32, 0.961);
      box-shadow: 3px 3px 20px 15px rgb(255, 255, 255);

      .overlay_text {
        position: absolute;
          top: 0px;
          left: 0;
          background: #000000d1;
          width: 100%;
          height: 100%;
          text-align: center;
          overflow: hidden;
          display: block;
          transform: translateY(0);
      }
    
    }
}

.box span img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 480px) {
  .box {
    margin-top: 15%;
    margin-left: 20%;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
  }

  .box span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 52deg)) translateZ(350px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.2666666667));
    border: 4px solid rgb(36, 156, 36);
    border-radius: 5px;
    transition: all 3s;

    .overlay_text {

      h3 {
        font-size: 20px;
      }
    }
  }
}


