// .contact-form {
//   width: 100%;
//   margin-top: 20px;  
  
  p {
    width: 80%;
    font-size: 18px;
    color: #fff;
  }
  
  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  } 
 
  
  input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 1px solid #2f940e;
      box-shadow: inset 0px -1px 9px 0px #2f940e;
      background: #11517300;
      height: 50px;
      font-size: 16px;
      color: #2f940e;
      padding: 0 20px;
      box-sizing: border-box;
    }
  
    textarea {
      width: 100%;
      border: 1px solid #2f940e;
      box-shadow: inset 0px -1px 9px 0px #2f940e;
      background: #11517300;
      height: 50px;
      font-size: 16px;
      color: green;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
    }
  
    .flat-button {
      color:#2f940e;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid #2f940e;
      float: left;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;
      

      &:hover {
        background: #2f940e;
        color: rgb(30, 29, 29);
      }
    }
// }
  
.map-wrap {
    background: rgb(1, 1, 16, 0.1);
    float: right;
    width: 45%;
    height: 70%;
    margin-top: -3%;
}

.leaflet-container {
    position: relative;
    width: 90%;
    height: 90%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

.info-map {
  // position: absolute;
  background: #040825db;
  float: right;
  top: 50px;
  right: 13%;
  z-index: 999999;
  // width: 221px;
  margin: 15px;
  padding: 20px;
  color: #fff;
  font-family: "Helvetica";
  font-size: 15px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

    span {
      font-size: 18px;
      color:#2f940e;
      margin-top: 1px;
    }
}

@media screen and (max-width: 746px) {
  .contact-form {
    width: 100%;
    margin-top: 20px;
    
    ul li.half {
      width: 100%;
      margin-left: 0;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
